@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, night;
}


[data-theme="light"] {
  .text-base-100 {
    color: black;
  }

  .text-base-200 {
    color: white;
  }

  .bg-navbar {
    background-color: #B7B1F2;
  }

  .slider-bg {
    background: linear-gradient(to right, #B7B1F2, #E7E4FB);
  }

  .slider-bg-reverse {
    background: linear-gradient(to left, #B7B1F2, #E7E4FB);
  }

  .bg-base {
    background-color: #B7B1F2;
  }


}

[data-theme="night"] {
  .text-base-100 {
    color: white;
  }

  .text-base-200 {
    color: black;
  }

  .bg-navbar {
    background-color: #2C254D;
  }

  .text-navbar {
    color: white;
  }

  .slider-bg {
    background: linear-gradient(to right, #2C254D, #343078);
  }

  .slider-bg-reverse {
    background: linear-gradient(to left, #2C254D, #343078);
  }

  .bg-base {
    background-color: #2C254D;
  }


}



.active {
  background-color: #968de7b0;
  color: white;

}

.font-poppins {
  font-family: "Poppins", sans-serif;
}